<%- include('../_partial/_header.ejs') %>
<%- include('../_partial/_navbar_admin.ejs') %>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2"><%= professor.name %></h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <button id="exportar" type="button" class="btn btn-outline-secondary">Exportar Relatório</button>
                </div>
            </div>
        </div> 
        <div class="table-responsive">
            <table class="table table-striped table-sm">
            <thead>
                <tr>
                <th scope="col">Data</th>
                <th scope="col">Hora</th>
                <th scope="col">Presente</th>
                <th scope="col">Disciplina</th>
                <th scope="col">Observação</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                </tr>
            </thead>
            <tbody>
                <% attendances.forEach((attendance)=> { %>
                <tr>
                <td><%= attendance.date %></td>
                <td><%= attendance.time %></td>
                <td><%= attendance.present %></td>
                <td><%= nameOfSubject(attendance, subjects) %></td>
                <td><%= attendance.observation %></td>
                <td><%= attendance.latitude %></td>
                <td><%= attendance.longitude %></td>
                </tr>
                <% }) %>              
            </tbody>
            </table>
        </div>

        <div>
            <%= round(100 * attendances.filter(wasPresent).length/attendances.length) %>% de presença
        </div>
        
        <div>
        </br>
            <h3>Disciplinas ministradas</h3>
        </div>

        <% subjects.forEach((subject)=> { %>
        <div><%= subject.name %></div>
        <% }) %> 
        
    </main>
    </div>
    </div>

    <script>
        document.getElementById('exportar').addEventListener('click', function() {
            var tables = document.querySelectorAll('table');
            var csvData = [];

            tables.forEach(function(table) {
                var rows = table.getElementsByTagName('tr');
                for (var i = 0; i < rows.length; i++) {
                    var row = [];
                    var cols = rows[i].getElementsByTagName('td');
                    for (var j = 0; j < cols.length; j++) {
                        row.push(cols[j].innerText);
                    }
                    csvData.push(row.join(','));
                }
            });

            var csvContent = 'data:text/csv;charset=utf-8,' + csvData.join('\n');
            var encodedUri = encodeURI(csvContent);
            var link = document.createElement('a');
            link.setAttribute('href', encodedUri);
            link.setAttribute('download', 'professor.csv');
            link.click();
        });
    </script>

<%- include('../_partial/_footer_admin.ejs') %>