<%- include('../_partial/_header.ejs') %>
<%- include('../_partial/_navbar_admin.ejs') %>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Professores</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <form action="/admin/professors/create">
                    <button type="submit" class="btn btn-outline-secondary">Adicionar Professor</button>
                </form>
                <form class="d-flex search_tool">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success " type="submit">Procurar</button>
                </form>
            </div>           
            </div>
        </div> 
        <div class="table-responsive">
            <table class="table table-striped table-sm">
            <thead>
                <tr>
                <th scope="col">DRT</th>
                <th scope="col">Nome</th>
                <th scope="col">login</th>
                <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <% professors.forEach((professor)=> { %>
                <tr>
                <td><%= professor.drt %></td>
                <td><%= professor.name %></td>
                <td><%= professor.login %></td>
                <td><a href="/admin/professors/edit/<%= professor.drt %>">Editar</a></td>
                </tr>
                <% }) %> 
            </tbody>
            </table>
        </div>
        </main>
    </div>
    </div>


<%- include('../_partial/_footer_admin.ejs') %>