<%- include('../_partial/_header.ejs') %>
<%- include('../_partial/_navbar_admin.ejs') %>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Editor de Disciplinas</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">

                <form method="post" action="/subjects/<%= subject.id %>?_method=DELETE">
                    <button type="submit" class="btn btn-outline-danger">Apagar Disciplina</button>
                </form>
               <button type="button" class="btn btn-outline-secondary" onClick="history.go(-1)">Cancelar</button>

            </div>
            </div>
        </div> 
            <form method="post" action="/subjects/<%= subject.id %>?_method=PUT">
                <input type="hidden" id="id" name="id" value="<%= subject.id %>">
                <div class="mb-3">
                  <label for="name" class="form-label">Nome da Disciplina</label>
                  <input type="text" class="form-control" id="name" name="name" value="<%= subject.name %>">
                  <div id="dica_nome" class="form-text">Insira o nome da disciplina.</div>
                </div>
                <div class="mb-3">
                    <label for="dayOfWeek" class="form-label">Dia da Semana</label>
                    
                    <select class="form-control dropdown" name="dayOfWeek" id="dayOfWeek">
                        <option <%= subject.dayOfWeek == 1 ? 'selected' : ""%> value="1">Domingo</option>
                        <option <%= subject.dayOfWeek == 2 ? 'selected' : ""%> value="2">Segunda-Feira</option>
                        <option <%= subject.dayOfWeek == 3 ? 'selected' : ""%> value="3">Terça-Feira</option>
                        <option <%= subject.dayOfWeek == 4 ? 'selected' : ""%> value="4">Quarta-Feira</option>
                        <option <%= subject.dayOfWeek == 5 ? 'selected' : ""%> value="5">Quinta-Feira</option>
                        <option <%= subject.dayOfWeek == 6 ? 'selected' : ""%> value="6">Sexta-Feira</option>
                        <option <%= subject.dayOfWeek == 7 ? 'selected' : ""%> value="7">Sábado</option>
                    </select>

                    <div id="dica_url" class="form-text">Insira o dia da semana (1 a 7).</div>
                </div>
                <div class="mb-3">
                    <label for="time" class="form-label">Hora</label>
                    
                    <select class="form-control dropdown" name="time" id="time">
                        <option <%= subject.time == '07:30:00' ? 'selected' : ""%> value="07:30:00">07:30</option>
                        <option <%= subject.time == '09:20:00' ? 'selected' : ""%> value="09:20:00">09:20</option>
                        <option <%= subject.time == '11:10:00' ? 'selected' : ""%> value="11:10:00">11:10</option>
                        <option <%= subject.time == '19:20:00' ? 'selected' : ""%> value="19:20:00">19:20</option>
                        <option <%= subject.time == '21:10:00' ? 'selected' : ""%> value="21:10:00">21:10</option>
                    </select>

                    <div id="dica_url" class="form-text">Insira o horário de início da disciplina.</div>
                </div>
                <div class="mb-3">
                    <label for="drt_professor" class="form-label">Professor</label>
                    
                    <select class="form-control dropdown" name="drt_professor" id="drt_professor">
                        <% professors.forEach((professor)=> { %>
                        <option <%= professor.drt == subject.drt_professor ? 'selected' : ""%> value="<%= professor.drt %>"><%= professor.name %></option>
                        <% }) %>
                    </select>
                    
                    <div id="dica_url" class="form-text">Insira o DRT do professor que ministra a disciplina.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="id_classroom">Sala de Aula</label>
                    
                    <select class="form-control dropdown" name="id_classroom" id="id_classroom">
                        <% classrooms.forEach((classroom)=> { %>
                        <option <%= classroom.id == subject.id_classroom ? 'selected' : ""%> value="<%= classroom.id %>"><%= classroom.number %> - Prédio <%= classroom.building %></option>
                        <% }) %>
                    </select>

                    <div id="dica_url" class="form-text">Insira o ID da Sala de aula.</div>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </main>
    </div>
    </div>


<%- include('../_partial/_footer_admin.ejs') %>
