<%- include('../_partial/_header.ejs') %>
<%- include('../_partial/_navbar_admin.ejs') %>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Inserir Disciplina</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-outline-secondary" onClick="history.go(-1)">Cancelar</button>
            </div>
            </div>
        </div> 
        <form method="post" action="/subjects/">
                <div class="mb-3">
                  <label for="name" class="form-label">Nome da Disciplina</label>

                  <input type="text" class="form-control" id="name" name="name">

                  <div id="dica_nome" class="form-text">Insira o nome da disciplina.</div>
                </div>
                <div class="mb-3">
                    <label for="dayOfWeek" class="form-label">Dia da Semana</label>

                    <select class="form-control dropdown" name="dayOfWeek" id="dayOfWeek">
                        <option value="" selected disabled hidden>Selecione o dia da semana</option>
                        <option value="1">Domingo</option>
                        <option value="2">Segunda-Feira</option>
                        <option value="3">Terça-Feira</option>
                        <option value="4">Quarta-Feira</option>
                        <option value="5">Quinta-Feira</option>
                        <option value="6">Sexta-Feira</option>
                        <option value="7">Sábado</option>
                    </select>

                    <div id="dica_url" class="form-text">Insira o dia da semana (1 a 7).</div>
                </div>
                <div class="mb-3">
                    <label for="time" class="form-label">Hora</label>

                    <select class="form-control dropdown" name="time" id="time">
                        <option value="" selected disabled hidden>Selecione um horário</option>
                        <option value="07:30:00">07:30</option>
                        <option value="09:20:00">09:20</option>
                        <option value="11:10:00">11:10</option>
                        <option value="19:20:00">19:20</option>
                        <option value="21:10:00">21:10</option>
                    </select>

                    <div id="dica_url" class="form-text">Insira o horário de início da disciplina.</div>
                </div>
                <div class="mb-3">
                    <label for="drt_professor" class="form-label">Professor</label>

                    <select class="form-control dropdown" name="drt_professor" id="drt_professor">
                        <option value="" selected disabled hidden>Selecione um professor</option>
                        <% professors.forEach((professor)=> { %>
                        <option value="<%= professor.drt %>"><%= professor.name %></option>
                        <% }) %>
                    </select>

                    <div id="dica_url" class="form-text">Insira o DRT do professor.</div>
                </div>
                <div class="mb-3">
                    <label for="id_classroom" class="form-label">Sala de Aula</label>

                    <select class="form-control dropdown" name="id_classroom" id="id_classroom">
                        <option value="" selected disabled hidden>Selecione uma sala</option>
                        <% classrooms.forEach((classroom)=> { %>
                        <option value="<%= classroom.id %>"><%= classroom.number %> - Prédio <%= classroom.building %></option>
                        <% }) %>
                    </select>

                    <div id="dica_url" class="form-text">Insira o ID da sala de aula.</div>
                </div>
                <button type="submit" class="btn btn-outline-success">Criar</button>
            </form>
        </main>
    </div>
    </div>


<%- include('../_partial/_footer_admin.ejs') %>